* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif;
}

/* Estilos para nuestro contenedor "header" */
header {
  background-color: #834536;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

/* Dentro de header, estilos para el h1 */
header h1 {
  color: white;
  font-size: 1.8rem;
}

/* Cambiamos los estilos de la lista no ordenada */
nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

nav ul li a:hover {
  /*background-color: #555;*/
  color: #fbd67c;
}

main {
  padding: 2rem;
  margin-bottom: 10px;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.about-title h1 {
  text-align: center;
  color: #a7144c;
}

/* Seccion de los parrafos quienes somos, historia y beneficios */
.textos-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.title-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background-color: #834536;
}
.texto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 28rem;
  background-color: #fbd67c;
  padding: 2%;
  margin-bottom: 2rem;
}
.texto-card p {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1%;
  line-height: 2rem;
}
.texto-card img {
  width: 350px;
  height: 250px;
  border-radius: 2%;
  margin-top: 2%;
}

/* Estilos del footer */
footer {
  display: flex;
  background-color: #834536;
  color: white;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  bottom: 0;
  width: 100%;
}
a {
  color: white;
}

@media screen and (max-width: 769px) {
  nav ul,
  li,
  a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  nav ul {
    gap: 20px;
  }
}

@media screen and (max-width: 426px) {
  .navbar_movil {
    display: flex;
    flex-direction: column;
  }
  header,
  nav ul {
    flex-direction: column;
  }
  .title-card h2 {
    font-size: 1.4rem;
  }
  .texto-card {
    height: 32rem;
  }
  .texto-card p {
    font-size: 1rem;
  }
  .texto-card img {
    width: 250px;
    height: 150px;
    margin-top: 1%;
  }
}
